on post-fs-data
    # Create an additional OTA package directory that unlike
    # /data/ota_package will not be touched by GmsCore.
    mkdir /data/hub_updates 0770 system cache encryption=Require

on property:sys.boot_completed=1
    # Only owner can acces this node
    chmod 440 /proc/net/unix
