<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/msmnile.xml" />

  <project path="device/xiaomi/sepolicy" name="AOSPA/android_device_xiaomi_sepolicy" remote="aospa" revision="vauxite" />
  <project path="device/xiaomi/surya" name="rd-stuffs/android_device_xiaomi_surya" remote="github" revision="vauxite" />
  <project path="hardware/xiaomi" name="rd-stuffs/android_hardware_xiaomi" remote="github" revision="vauxite" />
  <project path="kernel/msm-4.14" name="rd-stuffs/msm-4.14" remote="github" revision="main" clone-depth="1" />
  <project path="prebuilts/clang-standalone" name="rdxzv/clang-standalone" remote="bitbucket" revision="22" clone-depth="1" />
  <project path="packages/apps/XiaomiParts" name="rd-stuffs/packages_apps_XiaomiParts" remote="github" revision="vauxite" />
  <project path="vendor/xiaomi/surya" name="rd-stuffs/android_vendor_xiaomi_surya" remote="github" revision="vauxite" clone-depth="1" />
</manifest>
